@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin-top:80px;
    position:relative;
}
.about-us-buttons{
    background-image:url("../public/button.png");
    background-position:-37%;
    background-size:contain;
    background-repeat:no-repeat;
}





