@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    overflow-x: hidden;
}
body{
    margin-top:160px;
    position:relative;
    overflow-x:hidden !important;
}
.about-us-buttons{
    background-image:url("../public/button.png");
    background-position:-37%;
    background-size:contain;
    background-repeat:no-repeat;
}
.about-us-buttons-invert{
    background-image:url("../public/button.png");
    background-position:150%;
    background-size:contain;
    background-repeat:no-repeat;
}
.animation-triangle-float{

    animation-name: triangleFloat;
    animation-duration:15s;
    animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);   
 animation-play-state: running;
 animation-fill-mode:backwards;

}
@keyframes triangleFloat{

    0%{
        top:7vw;
    }
    25%{
        top:5.5vw;
        right:16vw;
    }
    50%{
        right:14vw;
        transform: rotate(45deg);
    }
    75%{
        right:17vw;
        top:6.5vw;
    }
    100%{
        top:7vw;
        
    }

}
.animation-rectangle-float{

    animation-name: rectangleFloat;
    animation-duration:15s;
    animation-iteration-count: infinite;
animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);   
 animation-play-state: running;
 animation-fill-mode:backwards;

}
@keyframes rectangleFloat{

    0%{
        top:10vw;
    }
    25%{
        top:8.5vw;
        right:45vw;
    }
    50%{
        right:43vw;
        transform: rotate(90deg);
    }
    75%{
        right:40vw;
        top:7vw;
    }
    100%{
        top:10vw;
        
    }

}

.list-decimal>li{
    padding:5px;
}

.infinitySlider{
            cursor:pointer;
            animation-name:infinitySlide;
            animation-duration: 25s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
         animation-play-state: running;


}
@keyframes infinitySlide {
    0%{
       left:100%;
    }
    100%{
        left:-100%;
    }
}
.infinitySlider:hover{
    animation-play-state:paused;
}

@media (max-width:1024px){
        body{
            margin-top:120px;
        }
}






.hiddenScroll{
    display: none;
}

.FadeIn{
    animation-name: fadein;
    animation-play-state: running;
    animation-duration:1s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

@keyframes fadein {
    0%{
        transform: translateX(-100vw);
        opacity:0;
    }
    100%{
        opacity:1;
        
    }
}
.FadeInRev{
    animation-name: fadeinrev;
    animation-play-state: running;
    animation-duration:1s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes fadeinrev {
    0%{
        transform: translateX(100vw);
        opacity:0;
        
    }
    100%{
        opacity:1;
       
    }
}
.scrollPlane{
    animation-name: scrollplane;
    animation-play-state: running;
    animation-duration:5s;
    animation-timing-function:cubic-bezier(1,1,0,0);
    animation-delay:2000ms;
}
@keyframes scrollplane {
            0%{
                top:-1.75vw;
                 left:7.75vw;
            }
            25%{
                top:-8vw;
                left:50vw;
                transform: rotate(45deg);

            }
            50%{
                top:-4vw;
                left:85vw;
                transform:rotate(60deg);
            }
            60%{
                top:50vw;
                left:200vw;
                display:none;
                transform:rotate(60deg);
            }
            75%{
                top:50vw;
                left:-100vw;
                display:none;
                transform:rotate(240deg);
            }
            
            100%{
                top:-1.75vw;
                left:7.75vw;
                transform:rotate(360deg);

            }
}

.scrollZoomin{
    animation-name:scrollZoomIn;
    animation-play-state: running;
    animation-duration:1s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes scrollZoomIn {
    0%{
        transform: scale3d(.3,.3,.3);
        opacity:0;
        
    }
    50%{
        opacity:1;
    }
}

.scrollOpacity{
    animation-name:scrollopacity;
    animation-play-state: running;
    animation-duration:1s;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
@keyframes scrollopacity {
    0%{
        opacity:0;
        
    }
    100%{
        opacity:1;
    }
}